/* Задаем базовые стили для корневого элемента */
:root {
    --font-family: "Roboto", sans-serif; /* Фонт Робото */
    --base-bg-color: #f9f9f9; /* Фон приятного оттенка (не чисто белый) */
    --text-color: #333; /* Цвет текста */
    --base-padding: 20px; /* Стандартные отступы */
    --font-size: 24px; /* Размер шрифта */
}

/* Базовые стили для body */
body {
    font-family: var(--font-family); /* Применяем шрифт */
    font-size: var(--font-size); /* Размер шрифта */
    margin: 0; /* Убираем отступы по умолчанию */
    padding: 0; /* Устанавливаем стандартные отступы */
    min-width: 1920px; /* Ширина 100% от видимой области */
    height: 100vh; /* Высота 100% от видимой области */
    background-color: var(--base-bg-color); /* Фон */
    color: var(--text-color); /* Цвет текста */
    display: flex; /* Используем флэк для центрирования содержимого */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    box-sizing: border-box; /* Учитываем отступы и границы в ширине и высоте */
}

#root {
    /* min-width: 1920px; */
    height: 880px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
}
